html {
    scroll-behavior: smooth;
}
body{
    font-family: sans-serif;
    background-color: rgb(53, 53, 53);
}
h1.content{
    text-align: center;
    font-size: 350%;
}
p.info{
    margin-top: 4%;
    text-align: center;
    font-size: 200%;
}
a.list{
    color: white;
    text-decoration: none;
    font-size: 300%;
    transition: 0.5s;
}
a.link{
    color: rgb(54, 54, 238);
    text-decoration: none;
    font-size: 100%;
    transition: 0.5s;
}
a.button{
    font-size: 250%;
    border: 5px solid rgb(54, 54, 238);
    background-color: rgb(54, 54, 238);
    border-radius: 25px;
    color: white;
    text-decoration: none;
    transition: 0.5s;
}
a:hover{
    font-size: 400%;
    transition: 0.5s;
}
div.quickview{
    text-align: center;
}
div.block{
    width: 100%;
    height: fit-content;
}
div.white{
    background-color: white;
    color: rgb(53, 53, 53);
}
div.dark{
    background-color:  rgb(53, 53, 53);
    color: white;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
img.project{
    border-radius: 25px;
}
.mocha {
    float: left;
    margin-left: 23%;
}
@media(max-width: 500px) {
    a.list {
        font-size: 200%;
    }
    a.link:hover {
        font-size: 90%;
    }
    a.button:hover {
        font-size: 240%;
    }
    .mocha {
        float: none;
        margin-left: none;
    }
}